.posterImg {
  height: auto;
  width: 16vw;
  padding: 1vw;
  margin-bottom: 5px;
  background-color: #141414;
  border-radius: 10px;
}

.individualCard {
  width: 18vw;
}
.posterImg:hover {
  background-position: 0;
  box-shadow: 3px 1px 4px 2px #c3bdbd;
  background-color: black;
}

@media only screen and (max-width: 700px) {
  .posterImg {
    width: 40vw;
    height: auto;
    padding: 1vw;
    background-color: #141414;
    border-radius: 10px;
  }

  .individualCard {
    margin: 1rem;
    margin-right: 7rem;
    margin-left: 0;
    width: 20vw;
  }
}

@media only screen and (max-width: 375px) {
  .posterImg {
    width: 100vw;
    height: auto;
    padding: 1vw;
    background-color: #141414;
    border-radius: 10px;
  }

  .individualCard {
    margin: 1rem;
    margin-right: 17rem;
    margin-left: 0;
    width: 20vw;
  }
}

